* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  --padding: 20px;
  --blur: 0px;
  --base: rgb(255, 133, 0);
  --width: 50%;
  --border-radius: 15px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  font-family: sans-serif;
  background-color: f6f6f6;
}
.container {
  border-radius: 20px;
  background: linear-gradient(to right, #1d2b64, #61045f);
  box-shadow: 10px 10px 10px rgba(246, 178, 172, 0.2),
    -10px -10px 30px rgba(246, 107, 107, 0.8);
  padding: 3rem;
}
h1 {
  font-size: 2rem;
  color: #f6f6f6;
  margin-bottom: 1rem;
}
.heading {
  font-size: 2rem;
  color: var(--base);
  font-weight: 800;
}
.css-controller {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 0;
}
label {
  padding-left: 1rem;
  font-size: 1rem;
  color: #f6f6f6;
  margin-top: 0.5rem;
}
img {
  width: var(--width);
  height: 80%;
  padding: var(--padding);
  filter: blur(var(--blur));
  border-radius: var(--border-radius);
  background-color: var(--base);
  transition: filter 0.3s ease, background-color 0.3s ease;
}
input[type="color"] {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-left: 5px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}
.css-controller input[type="color"]::-webkit-color-switch {
  border: none;
  border-radius: 50%;
}
.css-controller input[type="color"]::-webkit-color-switch-wrapper {
  padding: 0;
}
.css-controller input[type="color"]::-moz-color-switch {
  border: none;
  border-radius: 50%;
}
.css-controller input[type="color"]::-moz-color-switch-wrapper {
  padding: 0;
}
.css-controller input[type="range"] {
  width: 100%;
}
